<!DOCTYPE html>
<html>
<body>

<div class="header">
MEET Friends
</div>

<div class="content">

<table border="1">
<tr>
  <th>Name</th>
  <th>Gender</th>
  <th>Nationality</th>
  <th>Hometown</th>
  <th></th>
</tr>
{% for friend in friends %}
<tr>
  <td>{{ friend.name }}</td>
  <td>{{ friend.gender }}</td>
  <td>{{ friend.nationality }}</td>
  <td>{{ friend.hometown }} </td>
  <td><a href="BROKEN-LINK-FIX-ME">Edit</a>
</tr>
{% endfor %}
</table>

<a href="BROKEN-LINK-FIX-ME">Add friend</a>

</div>

<div class="footer">
Y2 2015
</div>

</body>
</html>
